@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');


* {
    margin: 0 auto;
    border: 0px;
}

header {
    width: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff;
    text-align: center;
}

#Buttons {
    margin: 0 auto;
    vertical-align:top;
    margin-top: 0px;
    margin-left: -18px;
}

#Title{
    margin: auto;
    margin-top: -10px;
    text-align: center;
    font-family: 'Gloria Hallelujah';
    font-size: 32px;
}

#Creator {
    margin-top: -110px;
    margin-right: 10px;
    float: right;
}

#Reset {font-size: 20px; padding:12px; font-weight: bold; margin-left: 20px; border-radius: 12px; border: solid 1px; }
#Clear {font-size: 20px; padding:12px; font-weight: bold; margin-left: 20px; border-radius: 12px;border: solid 1px;}
#Grey {font-size: 20px; padding:12px; font-weight: bold; margin-left: 20px; border-radius: 12px;border: solid 1px;}
#Rand {font-size: 20px; padding:12px; font-weight: bold; margin-left: 20px; border-radius: 12px;border: solid 1px;}

#Grid {
    margin: auto;
    margin-top: 30px;
    display: table;
    border-collapse: collapse;
    border: 1px solid black;
    height: 550px;
    width: 550px;

}

#row {
    display:table-row;
    border-collapse: collapse;
}

#cell 
{
    display: table-cell;
    border-collapse: collapse;
}