@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #ffffff;
    text-align: center;
}

#HeaderWrapper {
    text-align:center;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
}

#Buttons {
    display: inline-block;
    margin: 0;
    vertical-align:top;
    margin-top: 20px;
}

#Title,
#Creator{
    display: inline-block;
    vertical-align:top;
}

#Title {
    width: 35%;
    font-family: Helvetica, sans-serif;
    font-size: 50px;
    margin-right: 20px;
    margin-top: 15px;
}
#Creator {
    float: right;
    margin-right: -240px;
    margin-top: -98px;
    width: 28%;
}

#Reset {font-size: 20px; padding:12px; font-weight: bold; margin-left: 20px; border-radius: 12px; border: solid 1px; }
#Clear {font-size: 20px; padding:12px; font-weight: bold; margin-left: 20px; border-radius: 12px;border: solid 1px;}
#Grey {font-size: 20px; padding:12px; font-weight: bold; margin-left: 20px; border-radius: 12px;border: solid 1px;}
#Rand {font-size: 20px; padding:12px; font-weight: bold; margin-left: 20px; border-radius: 12px;border: solid 1px;}

:root {
    --grid-cols: 1;
    --grid-rows: 1;
  }
  
  #container {
    display: grid;
    grid-gap: 1em;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
  }
  
  .grid-item {
    padding: 1em;
    border: 1px solid #ddd;
    text-align: center;
  }