@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #ffffff;
    text-align: center;
}